<div class="splash river">

    <div class="welcome">
        <% if @user %>
            <h2>Hello <%= @user.identifier %></h2>
        <% else %>
            <div class="row">
                <div class="small-12 columns greeting">
                    Log in to <span class="app-name">Kyuka</span>
                </div>
            </div>
            <div class="row">
                <%= render "sessions/providers" %>
            </div>
        <% end %>
    </div>

</div>
