<div class="splash">

    <div class="welcome">
        <% if @user %>
            <h2>Hello <%= @user.identifier %></h2>
        <% else %>
            <%= link_to login_path, :class => "button" do %>
                Log in to <span class="app-name">Kyuka</span>
            <% end %>
        <% end %>
    </div>

</div>
