// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

.month-calendar {
    flex: 1;
    td {
        padding-left: 0;
        padding-right: 0;
        .eby {
            padding-left: 1em;
        }
        .button.secondary {
            width: 100%;
            color: rgba($body-font-color, 0.25);
            background: rgba($secondary-color, 0.25);
        }
        .button.secondary:hover {
            color: $body-font-color;
            background: $secondary-button-bg-hover;
        }
        .date {
            min-height: 5em;
        }
    }

}

.bank-holiday {
    background: orangered;
    color: white;
}
.weekend {
    background: #bcbcbc;
    color: white;
}

.events {
    padding: 0;
    margin: 0;
    margin-right: -2px;

    li {
        font-size: 12px;
        padding: 0.1em 0.2em;
        list-style-type: none;
        border-bottom: 1px solid white;
        .title {
            font-size: 14px;
        }
        .button.tiny {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    li:last-child {
        border-bottom: none;
    }

}

td:last-child {
    .events {
        margin-right: 0;
    } 
}

.clearfix:before, .clearfix:after {
    flex-basis: 0;
    order: 1;
    content: "";
}

.calendar-header {
    @extend .row;
    @extend .clearfix;
    background: $primary-color;
    color: $snow;
    .prev {
        
    }
    .next {
    }
    .calendar-title h2 {
        color: $snow;
    }
}


td {
    vertical-align: top;
    .holiday {
        background: $success-color;
        color: $snow;
        .button.tiny {
            background: $success-color;
        }
        .button.tiny:hover {
            background: darken($success-color, 10%);
        }
    }
    .meeting {
        background: $info-color;
        color: $body-font-color;
        .button.tiny {
            background: $info-color;
        }
        .button.tiny:hover {
            background: darken($info-color, 10%);
        }
    }
    .bankholiday {
        background: $warning-color;
        color: $snow;
    }
    .cancelled {
        opacity: 0.5;
    }
}
