// Place all the styles related to the time_periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

tr.cancelled {
    td {
    }
}

.time-period {
    .min-height: 80vh;
    flex: 1 0 auto;

    .header {
        margin-bottom: 2em;
    }

    .details {
        .row {
            margin-bottom: 1em;
        }
    }
}

.calendar-header {
    .calendar-title.bankholiday {
        background: $warning-color;
    }
    .calendar-title.holiday {
        background: $success-color;
    }
}


