// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

.splash {
    transition: background-image 3s ease-in-out;
    margin-left: -20px;
    margin-right: -20px;
    padding: 3em;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .welcome {
        .greeting {
            @include button;
            cursor: normal;
        }
        .greeting, .button {
            background-color: rgba($button-bg-color, 0.7);
            font-size: 64px;
        }
        
        ul .button:hover {
            background-color: rgba($button-bg-color, 1);
        }
    }

}
.splash.river {
    background-image: image-url('river.jpg');
}
.splash.waka {
    background-image: image-url('waka.jpg');
}
.splash.boat {
    background-image: image-url('boat.jpg');
}
.splash.bridge {
    background-image: image-url('bridge.jpg');
}
.splash.mountains {
    background-image: image-url('mountains.jpg');
}
.splash.bay {
    background-image: image-url('bay.jpg');
}

.top-bar-section {
    .login-controls {
        margin-right: 1em;
    }
}

