// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.splash {
    background-image: image-url('river.jpg');
    margin-left: -20px;
    margin-right: -20px;
    padding: 3em;
    flex: 1;
}

.top-bar-section {
    .login-controls {
        margin-right: 1em;
    }
}

