<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="app-name name"><%= link_to 'Kyuka', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
    <ul class="right login-controls">
        <li>
            <% if logged_in? %>
                <%= link_to "Log out", logout_path, class: 'button' %>
            <% else %>
                <%= link_to "Log in", login_path, class: 'button' %>
            <% end %>
        </li>
    </ul>
  </div>
</nav>
