<%# add navigation links to this file %>
<li class="<%= 'active' if request.env['PATH_INFO'] == time_periods_path %>">
  <%= link_to 'Your leave', {controller: :time_periods, action: :index} %>
</li>
<li class="<%= 'active' if request.env['PATH_INFO'] == month_path(Time.now.year, Time.now.month) %>">
  <%= link_to 'View Calendar', month_path(Time.now.year, Time.now.month) %>
</li>

